[submodule "stages/crat"]
	path = stages/crat
	url = https://github.com/Yale-PROCTOR/crat
[submodule "stages/c2rust"]
	path = stages/c2rust
	url = https://github.com/Yale-PROCTOR/c2rust
[submodule "stages/abstraction-recovery"]
	path = stages/abstraction-recovery
	url = https://github.com/Yale-PROCTOR/abstraction_recovery
